@page "{id:int}"
@model FalloutRPG.SceneSys.Pages.ViewSceneModel
@{
    ViewData["Title"] = $"Scene: {Model.Scene.Title}";
}

<h2>@ViewData["Title"]</h2>
<table id="posetable" class="table table-bordered">
    <thead>
        <tr>
            <th class="scene_poser_row">Owner</th>
            <th class="scene_pose_row">Pose</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pose in Model.Scene.Poses)
        {
            <tr class='pose'>
                <td>@pose.OwnerName</td>
                <td>@pose.Content</td>
            </tr>
        }
    </tbody>
</table>